body {
  background-color: blanchedalmond;
  margin: 20px;  
}

h1 {
  text-align: center;
  padding-bottom: 60px;
  font-size: 32px;
  font-weight: bold;
  font-family: Helvetica;
}

#color-pick label {
  display: inline-block;
  clear: left;  
  width: 350px;
  font-family: Arial;
  font-style: italic;
  font-weight: 550;
}

#color-pick input {
  display: inline-block;
  padding: 2px 2px;
}

.clothing label {
    float: left;
    margin-right: 0.2em;
    font-family: Arial;
    font-style: italic;
    font-weight: 550;
} 

.clothing input {
    display: inline-block;
    margin-bottom: 0.2em;
}

.clothing select {
  margin-right: 0.2em;
  font-family: Arial;
  font-style: italic;
  font-weight: 550;
}
.clothing-size {
  font-family: Arial;
  font-style: italic;
  font-weight: 550;
}
fieldset-head-toes{
  overflow: hidden
  }

  .shoe {
    float: left;
    clear: none;
  }

  .hat {
    float: left;
    clear: none;
  }

  label {
    float: left;
    clear: none;
    display: block;
    padding: 0px 1em 0px 8px;
    font-family: Arial;
    font-style: italic;
    font-weight: 550;
  }

  input[type=number],
  input.check {
    float: left;
    clear: none;
    margin: 0px 4em 0px 2px;
  }

fieldset-gear {
  overflow: hidden
  }

  .gear {
    float: left;
    clear: none;
  }

  p {
    font-family: Arial;
    font-style: italic;
    font-weight: 550;
  }

  label {
    float: left;
    clear: none;
    display: block;
    padding: 0px 1em 0px 8px;
  }

  input[type=checkbox],
  input.check {
    float: left;
    clear: none;
    margin: 2px 0 0 2px;
  }

  .hidden {
    display: none;
  }